.git
.github
.next
node_modules
data
coverage
unraid

.env
.env.*
!.env.example

*.log
*.sqlite
*.sqlite-*
*.db
*.db-*
*.zip
*.tsbuildinfo

README.md
Dockerfile
docker-compose.yml
.DS_Store
Thumbs.db
